{% extends "base.html" %}


{% block subtitle %}Session{% endblock %}


{% block content %}
<p class="session-info" data-age="{{ session.age }}">
You are running a session started on {{ session.date|date:"N j, Y H:i:s" }}
<a class="new-session" title="It's been a while since you've answered with this session, do you want to select a new session?" href="/?createSession=true">(start a new one)</a>
</p>

<div id="question-container">
  <div id="question">
  </div>
  <label for="answer">Answer: </label>
  <form id="answerform">
    <input type="text" id="answer" name="answer" speech x-webkit-speech>
    <input type="submit" value="Submit">
  </form>
</div>


<div id="answer-container">

</div>

{% endblock %}

{% block bottomjs %}
{{ block.super }}
<script src="/static/js/main.js" type="text/javascript"></script>
{% endblock %}
